[submodule "extensions/gsUnitTest"]
	path = extensions/gsUnitTest
	url = https://github.com/gismo/gsUnitTest.git
	branch = master
[submodule "extensions/motor"]
	path = extensions/motor
	url = https://github.com/gismo/motor.git
	branch = master
[submodule "unsupported"]
	path = extensions/unsupported
	url = https://github.com/gismo/unsupported.git
	branch = master
[submodule "extensions/gsElasticity"]
	path = extensions/gsElasticity
	url = https://github.com/gismo/gsElasticity.git
	branch = master
[submodule "extensions/gsExaStencils"]
	path = extensions/gsExaStencils
	url = https://github.com/gismo/gsExaStencils.git
	branch = master
[submodule "extensions/gsCompFlow"]
	path = extensions/gsCompFlow
	url = https://github.com/gismo/gsCompFlow.git
	branch = master
[submodule "extensions/gsStructuralAnalysis"]
	path = extensions/gsStructuralAnalysis
	url = https://github.com/gismo/gsStructuralAnalysis.git
	branch = main
[submodule "extensions/gsKLShell"]
	path = extensions/gsKLShell
	url = https://github.com/gismo/gsKLShell.git
	branch = main
